:root{
  --primary-color: rgb(36, 159, 32);
  --primary-color-fade: rgb(159, 203, 158);

  --secondary-color: rgb(33, 106, 180);
  --secondary-color-fade: rgb(122, 176, 229);

  --tertiary-color: rgb(190, 55, 55);
  --tertiary-color-fade: rgb(198, 117, 117);

  --quaternary-color: rgb(49, 49, 49);

  
  --background-color: rgb(216, 255, 213);

  --award-color: rgb(241, 232, 65);

  --main-grid-gap: 10px
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a{
  text-decoration: none;
  color: inherit
}

body {
  margin:0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-header{

}

.danger{
  background-color: rgb(164, 0, 0);
  color: white;
}

/* ------------------------------NavBar------------------------------ */

.nav-bar{
  z-index: 100;
  position: fixed;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  height: 3em;
  margin-top: 0px;
  width:100%;
  align-items: middle;
  box-shadow: 10px 5px 5px var(--secondary-color-fade);
  color: white;
}

.nav-align-center{
  width: 80%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.nav-align-right{
   padding:10px;
}

.login-logout-box{
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}

.nav-logo-link{
height: inherit;
display: flex;
align-items: center;
padding-left:5px;
}

.nav-logo{
  height: 90%;
}


/* -------------------Page Layout------------------------ */
.main-grid{
  display: grid;
  grid-template-columns: auto minmax(25%, 255px) minmax(40%, 800px) minmax(20%, 250px) auto;
  grid-template-rows: 4em auto 1fr;
  gap: var(--main-grid-gap);

}

.left-sidebar{
  grid-column: 2;
  grid-row: 2 / span 3;
}

.main-column-top{
  grid-column: 3;
  grid-row: 2;

}

.main-column-bottom{
  grid-column: 3;
  grid-row: 3;

}

.right-sidebar{
  grid-column: 4;
  grid-row: 2 / span 3;

}

/*--------------main column top content------------------*/

.dashboard-main{
  background-color: var(--primary-color);
  box-sizing: border-box;
  border: 5px var(--primary-color-fade) solid;
  border-radius: 10px;
  padding: 1em;
  color: white;
  height: fit-content;
  box-shadow: 2px 2px 3px var(--secondary-color);
}


.dashboard-main h3{
  margin-block-start: 0em;

}




.dashboard-inner{
  background-color: var(--secondary-color);
  box-sizing: border-box;
  border: 5px var(--secondary-color-fade) solid;
  color:white;
  border-radius: 10px;
  box-shadow: 2px 2px 3px var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 8em
}

.recipe-search-home-container{

}

.recipe-search-home-container input{
padding: .5em;
border-top-right-radius:  5px;
border-bottom-right-radius:  5px;
border: 2px solid var(--secondary-color-fade);

}

.recipe-search-home-container button{
color: white;
cursor: pointer;
padding: .5em;
border-top-left-radius:  5px;
border-bottom-left-radius:  5px;
border: 2px solid var(--secondary-color-fade);
border-right: 0px;
background-color: var(--primary-color);
}


.recipe-main-info{
  display: grid;
  grid-template-columns: 2fr auto;

}

.recipe-main-info-left{
grid-column: 1;
display: grid;
grid-template-rows: auto auto;
}

.recipe-header{
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;

}

.creator-name{
  text-align: center;
}

.recipe-subinfo{
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
}
.recipe-main-info-right{
grid-column: 2;
display: flex;
justify-content: center;
padding: 1em
}

.recipe-image{
  height: auto;
  max-height: 250px;
  width: fit-content;
  max-width: 250px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 3px solid var(--secondary-color-fade);

}

/* ------------main column bottom content------------- */

.main-recipe-list{
  padding-top: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
    box-shadow: 2px 2px 3px var(--secondary-color);
    height: fit-content;


}

.recipe-ingredient-list{
  
}

.recipe-list-title{
  text-align: center;
  background-color: var(--primary-color);
  margin: 0px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  padding: 1em;
  border-bottom: 5px solid var(--secondary-color-fade);
}


.recipe-list-item{
border-radius: 5px;
position: relative;
padding: 10px;
border: 5px var(--primary-color-fade) solid;
margin: 5px 10px;
/* border: 1px var(--secondary-color) solid; */
min-height: 5em;
max-height: 400px;
height: fit-content;
width: 200px;
/* max-height: 10em; */
/* grid-template-columns: minmax(50%, 90%) auto; */
background-color: var(--primary-color);
color: var(--secondary-color);
/* box-shadow: 2px 2px 3px var(--primary-color-fade) */

}

.recipe-link-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  text-transform: capitalize;

}

.recipe-link-body h4{
  margin-block-start: 0em;
  margin-block-end: 0em;

}

.inner-recipe-container{

}

.recipe-link{
  /* border: 1px solid var(--secondary-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  min-height: inherit;
  max-height: inherit; */
}

.recipe-thumbnail-frame{
  height: 8em;
  max-height: 8em;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.recipe-thumbnail{
  position: relative;
  border-radius: 5px;
  margin-right: 10px;
  max-height: inherit;
  max-width: inherit;

}

.recipe-title-link{
  position: relative;
  background-color: rgb(244, 249, 253);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid var(--secondary-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 5em;
  height: fit-content;
  max-height: 6em;
}

.username-link{
  font-weight: bold;
}

.recipe-list-username{
  font-size: .8em;
  position: absolute;
  /* z-index: 10; */
  right: 2px;
  bottom: 2px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  /* grid-row:2; */
  color: var(--secondary-color-fade)
}



.health-labels{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  width: 100%;
  padding: .2em;
  border-radius: 5px;
  max-height: fit-content;
  align-self: center;

}

.health-label{
  padding: 3px;
  margin: 3px;
  font-size: .9em;
  border-radius: 5px;
  color:white;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  box-shadow: 2px 2px 5px var(--secondary-color)
}

.homepage-bottom{
background-color: var(--secondary-color);
border-radius: 10px;
border: 5px var(--secondary-color-fade) solid;
box-shadow: 2px 2px 3px var(--secondary-color);
color: white;
height: fit-content;
}


.load-more-recipes{
  width: 100%;
  display: flex;
  justify-content: center;
}

.load-more-recipes button{
  width: 100%;
  background-color: var(--primary-color);
  outline: 0px;
  border: 0px;
  border-radius: 5px;
  padding: 5px;
  margin-top: .5em;
  color: var(--quaternary-color)
}
/* .homepage-bottom h2{
  text-align: center;
  font-weight: 900;
} */

/* ---------------recipe page-------------------- */

.recipe-main-info{
  background-color: var(--secondary-color);
  box-sizing: border-box;
  border: 5px var(--secondary-color-fade) solid;
  color:white;
  border-radius: 10px;
  box-shadow: 2px 2px 3px var(--secondary-color);
}

.recipepage-bottom{
  background-color: var(--secondary-color);
  box-sizing: border-box;
  border: 5px var(--secondary-color-fade) solid;
  border-radius: 10px;
  color: white;
  padding: 1em;
  box-shadow: 2px 2px 3px var(--secondary-color);
}


/* left sidebar content */

.recipepage-left-sidebar{
  background-color: var(--primary-color);
  box-sizing: border-box;
  border: 5px var(--primary-color-fade) solid;
  border-radius: 10px;
  padding: 1em;
  color: white;
  height: fit-content;
  box-shadow: 2px 2px 3px var(--secondary-color);
}

.side-bar-serving{
  background-color: var(--primary-color-fade);
  border: 5px var(--primary-color) solid;
}

.toggle-display{
  margin-top: .5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-nutrients{
box-sizing: border-box;
height: 100%;
display: flex;
align-items: center;
cursor: pointer;
padding: 3px;
}


.toggle-nutrients-total{
  border: 3px outset var(--primary-color-fade);
  background-color: var(--secondary-color);
  color: white;
  border-radius: 5px;

}

.toggle-nutrients-daily{
  border: 3px outset var(--primary-color-fade);
  background-color: var(--secondary-color-fade);
  color: var(--quaternary-color);
  border-radius: 5px;

}

.toggle-nutrients-total-secondary{
  background-color: var(--primary-color);
  border: 3px outset var(--primary-color-fade);
  border-radius: 5px;
  color: white;

} 
.toggle-nutrients-serving-secondary{
  background-color: var(--primary-color-fade);
  border: 3px outset var(--primary-color);
  border-radius: 5px;

}




.toggle-button-on{
  border-style:inset;
}

.nutritional-info{
  margin-top: 10px;
  background-color: var(--secondary-color);
  border: 5px solid var(--secondary-color-fade);
  box-shadow: 2px 2px 5px var(--secondary-color);
  border-radius: 5px;
}


.nutritional-info-daily{
  border-color: var(--secondary-color);
  margin-top: 10px;
  background-color: var(--secondary-color-fade);
  color: var(--quaternary-color)
}

.nutritional-info-top{
  border-bottom: 1px var(--quaternary-color) solid;
  padding: 0em 0em .2em .2em
}

.nutritional-info-top h3{
  margin-block-start: .5em;
  margin-block-end: .5em;
  text-align: center;
}

.nutrient-list{
  padding: 1em;
  /* background-color: var(--secondary-color) */
}

.nutrient-in-list{
  padding: .2em;
}

.related-recipe{
margin-top: var(--main-grid-gap)
}
/* .nutrient-list-daily{

} */

.recipepage-right-sidebar{
  background-color: var(--primary-color);
  box-sizing: border-box;
  border: 5px var(--primary-color-fade) solid;
  border-radius: 10px;
  padding: 1em;
  color: white;
  height: fit-content;
  box-shadow: 2px 2px 3px var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-content: space-around; 
}


.qr-section-containter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.qr-code{
  border-radius: 10px;
}


/* --------------------create form------------------ */
.createRecipePage-header{
  text-align: center;
  background-color: var(--primary-color);
  box-sizing: border-box;
  border: 5px var(--primary-color-fade) solid;
  border-radius: 10px;
  color: white;
}


.create-recipe-form{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-color);
  box-sizing: border-box;
  border: 5px var(--secondary-color-fade) solid;
  color: white;
  border-radius: 10px;
  padding: 3em;
  padding-top:2em;
}

.form-section{
  padding: 5px;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 60%;

}


.form-section input{
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  width:100%;
}

.form-section textarea{
  width: 100%;
  height: 10em;
  padding: 1em;
  border-radius: 5px;
}

.form-error{
text-align: center;
position: relative;
padding-bottom: 10px;
}

.form-section-image{
flex-direction: column;
}

.recipe-image-edit{
position: relative;
height: inherit;
width: inherit;
border-radius: 5px;
display: flex;
justify-content: center;
border: 2px var(--secondary-color-fade) solid; 
width: 100%;
}

.recipe-image-edit-display{
  position: relative;
  height: inherit;
  width: inherit;
  border-radius: 5px;
  border: 2px var(--secondary-color-fade) solid; 
}

.sending-data{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width:100%;
  background-color: rgba(0, 0, 0, 0.334);
}

.close-box{
  /* position: absolute; */
  text-align: end;
  top:5px;
  right:5px;
  font-weight: 900;
  cursor: pointer;
}

.ingredient-form-section{
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
padding: .5em 0em;
}

.form-action-container{
  display: flex;
}

.ingredients-list{
  display: flex;
  justify-content: center;
  width: 60%;
}

.ingredients-list select{
  padding: 5px;
  border-radius: 5px;
  border-width: 2px;
}

.ingredients-list input{
  padding: 5px;
  border-radius: 5px;
}


.remove-ingredient-button{
  width: fit-content;
  padding: 2px;
  border: 2px var(--tertiary-color-fade) solid;
  background-color: var(--tertiary-color);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.add-ingredient-button{
  border-radius: 5px;

  width: fit-content;
  padding: 3px;
  background-color: var(--primary-color);
  border: 2px var(--primary-color-fade) solid;
  margin: 2px;
  cursor: pointer;
}

.auto-complete-dropdown{
  z-index: 10;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  width: 100%;
}
.input-autocomplete{
  position: relative;  
}


.input-autocomplete input:focus + .auto-complete-dropdown{
  display: block;
}

.auto-complete-item{
  border: 1px solid var(--quaternary-color);
  border-top-width: 0px;
  padding: 5px;
  color: var(--quaternary-color)
}

.auto-complete-item:hover{
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}


.quantity{
width: 4em
}

.drop-down-split{
  display: flex;
  flex-direction: row;
}

.recipe-submit{
  width: 30%;
  padding: 1em;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  border: 2px var(--primary-color-fade) solid;
  font-weight: 900;
  font-size: 1.1em;
  cursor: pointer;
}

.measurement{

}

.file-upload-button{
  padding: 3px;
  background-color: var(--secondary-color);
  border: 2px var(--secondary-color-fade) solid;
}

.ingredient-wrapper{
  text-align: center;
  width: 100%;
}

/* ----------login------------- */

.interface-container{
grid-column: 3;
grid-row: 2 /span 2;
display: flex;
align-items: center;
}

.interface-box{
background-color: var(--primary-color);
padding: 3em;
border-radius: 5px;
border: 5px solid var(--primary-color-fade);
box-shadow: 2px 2px 5px var(--secondary-color);
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: white;

}

.interface-box-title{
  padding: .5em;
  width: fit-content;
  display: flex;

  background-color: var(--secondary-color);
  border-radius: 5px;
}


.interface-form{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interface-form input{
  padding: .5em;
  border-radius: 5px;
  margin: .2em;
}


.interface-form button{
  padding: .5em;
  border-radius: 5px;
  margin: .2em;
  width: 100px;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  border: 1px solid var(--secondary-color-fade);
  box-shadow: 2px 2px 4px var(--secondary-color)
}

.interface-container-message{
  padding: 1em;
}

.mid-sentence-link{
  color:var(--secondary-color);
  cursor: pointer;
}

.mid-sentence-link:hover{
  color: var(--quaternary-color)
}

.mid-sentence-link-secondary{
  color:var(--primary-color);
  cursor: pointer;
}

.mid-sentence-link-secondary:hover{
  color: var(--primary-color-fade);
  text-decoration: underline;

}



.login-signup-error{
  background-color: var(--tertiary-color);
  border: 5px solid var(--tertiary-color-fade);
  border-radius: 5px;
  padding: .5em;
  color: white;
}

.profilepage-top{
  background-color: var(--primary-color);
  box-sizing: border-box;
  border: 5px var(--secondary-color-fade) solid;
  border-radius: 10px;
  color: white;
  padding: 1em;
  box-shadow: 2px 2px 3px var(--secondary-color);
}


.profilepage-bottom{
  background-color: var(--secondary-color);
  box-sizing: border-box;
  border: 5px var(--secondary-color-fade) solid;
  border-radius: 10px;
  color: white;
  padding: 1em;
  box-shadow: 2px 2px 3px var(--secondary-color);
}

.profile-recipe-header-container{
  background-color: var(--primary-color);
  box-sizing: border-box;
  border: 5px var(--secondary-color-fade) solid;
  border-radius: 10px;
  color: white;
  padding: 1em;
  box-shadow: 2px 2px 3px var(--secondary-color);
  display: flex;
  justify-content: center;
}



.not-found-container{


}




/* ----------------------------BELOW 1024 px--------------------------------- */
@media(max-width: 1024px){


  
}
/* ----------------------------BELOW 512 px--------------------------------- */
@media(max-width: 512px){


  .main-grid{
    display: grid;
    grid-template-columns: auto minmax(25%, 255px) minmax(40%, 700px) minmax(20%, 250px) auto;
    grid-template-rows: 4em auto 1fr;
    gap:10px;
  
  }
  
  .left-sidebar{
    grid-column: 2;
    grid-row: 2 / span 3;
    border: 1px var(--tertiary-color) solid;
  }
  
  .main-column-top{
    grid-column: 3;
    grid-row: 2;
    border: 1px var(--tertiary-color) solid;
  
  }
  
  .main-column-bottom{
    grid-column: 3;
    grid-row: 3;
    border: 1px var(--tertiary-color) solid;
  
  }
  
  .right-sidebar{
    grid-column: 4;
    grid-row: 2 / span 3;
    border: 1px var(--tertiary-color) solid;
  
  }
  
}
/* ----------------------------BELOW 320 px--------------------------------- */
@media(max-width: 320px){



}